<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Add your CSS or link to Bootstrap CDN here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom styles here -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .register-container {
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .btn-register {
            background-color: #28a745;
            color: #ffffff;
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9939907164480229"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="container register-container">
        <h2 class="mb-4">Register</h2>
        <form method="post" action="{{ url_for('auth.register') }}" >
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username"  placeholder="Choose a username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email"  placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Choose a password" required>
            </div>
            <button type="submit" class="btn btn-success btn-register">Register</button>

            <p>Already User <a href="{{ url_for('auth.login_view') }}">Log in</a></p>
        </form>
    </div>
</body>
</html>
